<?xml version="1.0" ?>
<launch>
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find youbot_description)/robots/youbot_arm_only.urdf.xacro'"/>

    <!-- send joint values -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
        <!--<rosparam param="source_list">["robotis/real_joint_states"]</rosparam>-->
    </node>

    <!-- Combine joint values -->
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>
    <node name="forward_kinematic_node" pkg="cw1q7b" type="cw1q7b_node.py" output="screen"/>
    <!-- Show in Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find youbot_simulator)/config/youbot.rviz" output="screen"/>
</launch>